exportPattern("^[[:alpha:]]+")
importFrom(gdata, read.xls)
importFrom(stats, sd)
importFrom(utils, write.table)
importFrom(utils, read.table)
importFrom(graphics, plot)
importFrom(graphics, par)
importFrom(graphics, box)
importFrom(graphics, axis)
importFrom(graphics, points)
importFrom(sna, as.sociomatrix.sna)
importFrom(sna, geodist)
importFrom(sna, component.dist)
importFrom(limSolve, xsample)
import(MASS, network, stringr)
